# Name: JAR_Plugin
# Author: Tristan
# Version: 1.2
# Date: 2020/09/24
# Requires: ImageJ 1.31s
# Generate the jar file using: "mvn package"



Plugins>NucleusJ2.0, "Autocrop NucleusJ 2",gred.nucleus.plugins.Autocrop_
Plugins>NucleusJ2.0, "Segmentation NucleusJ 2",gred.nucleus.plugins.Segmentation_
Plugins>NucleusJ2.0, "Crop From Coordinate NucleusJ 2",gred.nucleus.plugins.CropFromCoordinate_
Plugins>NucleusJ2.0,"-"
Plugins>NucleusJ2.0, "Chomocenters Segmentation", gred.nucleus.plugins.ChromocenterSegmentationBatchPlugin_
Plugins>NucleusJ2.0, "Chomocenters Analysis", gred.nucleus.plugins.ChromocentersAnalysisBatchPlugin_
Plugins>NucleusJ2.0, "Compute parameters", gred.nucleus.plugins.computeParametersPlugin_
